Limpieza y preparación de datos

Tratamiento de los datos que faltan

In [1]:
import pandas as pd
import numpy as np
float_data = pd.Series([6.9, 0, -7.4, np.nan, 0])

In [2]:
float_data

0    6.9
1    0.0
2   -7.4
3    NaN
4    0.0
dtype: float64

El método isna nos da una serie Booleana con True donde los valores son 'nulos'.

In [3]:
float_data.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

Lenguje de programación R refiriéndoce  a los datos perdidos como NA que significa no disponible(Not Avalible)

In [9]:
string_data =pd.Series (['pedro','juan', None, 'carlos', np.nan ])
string_data

0     pedro
1      juan
2      None
3    carlos
4       NaN
dtype: object

In [10]:
string_data.isna()

0    False
1    False
2     True
3    False
4     True
dtype: bool

isna nos da una serie Booleana con True donde son Nulos los valores

In [11]:
float_data = pd.Series([25, 10 , 8, None, 5], dtype='float64')
float_data

0    25.0
1    10.0
2     8.0
3     NaN
4     5.0
dtype: float64

In [12]:

float_data.isna()

0    False
1    False
2    False
3     True
4    False
dtype: bool

Se crea una DataFrame para mirar otros métodos como: Dropna que se utiliza para eliminar filas o columnas que contienen valores nulos(NaN)

In [18]:
Data = {
    'A': [1, 2 , 4 , np.nan, 13],
    'B': [5, 3, np.nan, 6, 7],
    'c': [np.nan, 8 , 9, 10,11]
}
data = pd.DataFrame(Data)
print("DataFrame original:")
data

DataFrame original:

      A    B     c
0   1.0  5.0   NaN
1   2.0  3.0   8.0
2   4.0  NaN   9.0
3   NaN  6.0  10.0
4  13.0  7.0  11.0

Vamos a utilizar el dropna para que elimine las filas que tiene los valores nulos

In [19]:
data_sin_nulos = data.dropna()
print("\n Dataframe despues de eliminar valores nulos: ")
data_sin_nulos

 Dataframe despues de eliminar valores nulos:

      A    B     c
1   2.0  3.0   8.0
4  13.0  7.0  11.0

fillna: Rellena los datos que faltan con algún valor o utilizando un método de interpolación como ffill o bfill.
Para rellenar los valores nulos con un valor especifico, por ejemplo 0, podemos utilizar fillna de la siguiente manera:

In [20]:
data_fillnaa = data.fillna(0)
data_fillnaa

      A    B     c
0   1.0  5.0   0.0
1   2.0  3.0   8.0
2   4.0  0.0   9.0
3   0.0  6.0  10.0
4  13.0  7.0  11.0

isna(): dev8uelve valores boolenaos  que indican que valores faltan NA.

In [21]:
na_values = data.isna()
na_values

       A      B      c
0  False  False   True
1  False  False  False
2  False   True  False
3   True  False  False
4  False  False  False

Notna: Negación del isna, devuelve True para lods valores no NA y false para los valores NA

In [22]:
valores_nulos = data.notna()
valores_nulos

       A      B      c
0   True   True  False
1   True   True   True
2   True  False   True
3  False   True   True
4   True   True   True

Filtrar los datos que faltan 

Hay algunas formas de filtrar los datos que faltan. Aunque siempre se tiene la opción de hacerlo a mano usando pandas.isna() y la indexacion booleana, dropna() puede ser útil.En una Serie con sólo datos no nulos y los valores de indice:

In [ ]:
data1 = pd.Series([np.nan, 4, 5.6, 8, np.nan])