Ejercicio 7. Análisis de Tipos de Productos en una Tienda¶

In [2]:
import pandas as pd
import numpy as np

In [1]:
# Partiendo del siguiente diccionario:
data = {
    'product_id': [1, 2, 3, 4, 5, 6],
    'product_name': ['apple', 'banana', 'carrot', 'apple', 'banana', 'carrot'],
    'category': ['fruit', 'fruit', 'vegetable', 'fruit', 'fruit', 'vegetable']
}

1- Llevar el dicionario a un dataframe y mostrarlo.
2- Consultar los tipos de datos de cada columna.
3- Convertir la Columna category a Tipo Categórico.
4- Acceder a las Categorías y Códigos (cat.categories y cat.codes)

1- Llevar el dicionario a un dataframe y mostrarlo.

In [3]:
df = pd.DataFrame(data)
df

   product_id product_name   category
0           1        apple      fruit
1           2       banana      fruit
2           3       carrot  vegetable
3           4        apple      fruit
4           5       banana      fruit
5           6       carrot  vegetable

2- Consultar los tipos de datos de cada columna.

In [5]:
df.dtypes

product_id       int64
product_name    object
category        object
dtype: object

3- Convertir la Columna category a Tipo Categórico.

In [6]:
# Convertir la columna "category" a tipo categórico
df['category'] = df['category'].astype('category')

In [7]:
df.dtypes

product_id         int64
product_name      object
category        category
dtype: object

4- Acceder a las Categorías y Códigos (cat.categories y cat.codes)

- cat.categories: Este atributo nos permite obtener las categorías únicas presentes en una columna categórica. Por ejemplo, si tenemos un DataFrame llamado df con una columna “category”, podemos usar df['category'].cat.categories para ver todas las categorías únicas.

In [9]:
categorias_unicas = df['category'].cat.categories
categorias_unicas

Index(['fruit', 'vegetable'], dtype='object')

categorias_unicas = df['category'].cat.categories

- cat.codes: Este atributo devuelve una serie de códigos numéricos que representan cada valor en la columna categórica. Estos códigos son las posiciones de los valores reales en el arreglo de categorías. Por ejemplo, si tenemos una columna “category” con valores “fruit”, “fruit”, “vegetable” y “fruit”, los códigos serían [0, 0, 1, 0] (donde 0 representa “fruit” y 1 representa “vegetable”).

In [11]:
df

   product_id product_name   category
0           1        apple      fruit
1           2       banana      fruit
2           3       carrot  vegetable
3           4        apple      fruit
4           5       banana      fruit
5           6       carrot  vegetable

In [10]:
# Obtener los códigos
codigos = df['category'].cat.codes
codigos

0    0
1    0
2    1
3    0
4    0
5    1
dtype: int8