## Datos Categóricos

Ejercicio 6. Dados los siguientes datos:

1- Recrear las etiquetas originales a partir de los índices codificados.
2- Contar la frecuencia de cada etiqueta de animal.
3- Identificar las etiquetas de animales únicas presentes en los datos.
4- Determinar el animal más frecuente y el menos frecuente.
5- Agrupar los animales y contar la frecuencia por grupos (mamíferos, aves, reptiles, etc.).
6- Identificar la posición de las primeras y últimas ocurrencias de cada animal.
7- Generar un resumen estadístico de las frecuencias de los animales (media, mediana, desviación estándar).
8- Filtrar y mostrar solo los animales con una frecuencia mayor que 2.
9- Encontrar y mostrar las etiquetas de animales que aparecen solo una vez.
10- Calcular el porcentaje de apariciones de cada animal respecto al total.
11- Ordenar las etiquetas de animales por frecuencia en orden descendente.
12- Generar un DataFrame que muestre la frecuencia acumulativa de las etiquetas.

In [14]:
import pandas as pd
import numpy as np

In [15]:
encoded_labels = [
    0, 1, 2, 3, 0, 4, 5, 6, 2, 1, 3, 0, 5, 4, 6, 1, 2, 5, 4, 3,
    7, 8, 9, 10, 7, 11, 12, 13, 9, 8, 10, 7, 12, 11, 13, 8, 9, 12, 11, 10,
    14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33
]

animal_labels = [
    'cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant', 
    'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey',
    'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile', 
    'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard', 
    'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl', 
    'hawk', 'eagle'
]

1- Recrear las etiquetas originales a partir de los índices codificados.

In [51]:
etiquetas_originales = pd.Series(animal_labels).take(encoded_labels)
etiquetas_originales

0              cat
1              dog
2             bird
3             fish
0              cat
4             lion
5            tiger
6             bear
2             bird
1              dog
3             fish
0              cat
5            tiger
4             lion
6             bear
1              dog
2             bird
5            tiger
4             lion
3             fish
7         elephant
8          giraffe
9            zebra
10        kangaroo
7         elephant
11           koala
12           panda
13          monkey
9            zebra
8          giraffe
10        kangaroo
7         elephant
12           panda
11           koala
13          monkey
8          giraffe
9            zebra
12           panda
11           koala
10        kangaroo
14           shark
15           whale
16         dolphin
17         penguin
18         ostrich
19       crocodile
20       alligator
21    hippopotamus
22      rhinoceros
23         cheetah
24         leopard
25          jaguar
26            wolf
27             fox
28          rabbit
29        squirrel
30             bat
31             owl
32            hawk
33           eagle
dtype: object

2- Contar la frecuencia de cada etiqueta de animal.

In [52]:
frecuencia_etiquetas = etiquetas_originales.value_counts()
frecuencia_etiquetas

cat             3
dog             3
bird            3
fish            3
lion            3
tiger           3
elephant        3
giraffe         3
zebra           3
kangaroo        3
panda           3
koala           3
bear            2
monkey          2
shark           1
whale           1
dolphin         1
penguin         1
ostrich         1
crocodile       1
alligator       1
hippopotamus    1
rhinoceros      1
cheetah         1
leopard         1
jaguar          1
wolf            1
fox             1
rabbit          1
squirrel        1
bat             1
owl             1
hawk            1
eagle           1
Name: count, dtype: int64

Identificar las etiquetas de animales únicas presentes en los datos.

In [53]:
etiquetas_unicas = etiquetas_originales.unique()
etiquetas_unicas

array(['cat', 'dog', 'bird', 'fish', 'lion', 'tiger', 'bear', 'elephant',
       'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey',
       'shark', 'whale', 'dolphin', 'penguin', 'ostrich', 'crocodile',
       'alligator', 'hippopotamus', 'rhinoceros', 'cheetah', 'leopard',
       'jaguar', 'wolf', 'fox', 'rabbit', 'squirrel', 'bat', 'owl',
       'hawk', 'eagle'], dtype=object)

4- Determinar el animal más frecuente y el menos frecuente.

In [57]:
# Etiqueta más frecuente
animal_mas_frecuente = frecuencia_etiquetas.idxmax()

# Etiqueta menos frecuente
animal_menos_frecuente = frecuencia_etiquetas.idxmin()

print(f"El animal más frecuente es: {animal_mas_frecuente}")
print(f"El animal menos frecuente es: {animal_menos_frecuente}")

El animal más frecuente es: cat
El animal menos frecuente es: shark

5- Agrupar los animales y contar la frecuencia por grupos (mamíferos, aves, reptiles, etc.).

In [83]:
categorias = {
'mamiferos': ['cat', 'dog', 'lion', 'tiger', 'bear', 'elephant', 'giraffe', 'zebra', 'kangaroo', 'koala', 'panda', 'monkey', 'cheetah', 'leopard', 'jaguar', 'wolf', 'fox'],
'aves': ['bird', 'penguin', 'ostrich', 'eagle', 'hawk', 'vulture', 'parrot', 'hummingbird', 'crow', 'swan', 'duck', 'goose'],
'peces':['fish', 'sharks', 'whales', 'dolphins'],
'reptiles':['crocodile', 'alligator', 'snake', 'turtle', 'iguana', 'lizard', 'chameleon'],
}

In [70]:
# Encontrar la posición de la primera ocurrencia de cada animal
primera_posicion = etiquetas_originales.groupby(etiquetas_originales).apply(lambda x: x.index[0])
primera_posicion

alligator       20
bat             30
bear             6
bird             2
cat              0
cheetah         23
crocodile       19
dog              1
dolphin         16
eagle           33
elephant         7
fish             3
fox             27
giraffe          8
hawk            32
hippopotamus    21
jaguar          25
kangaroo        10
koala           11
leopard         24
lion             4
monkey          13
ostrich         18
owl             31
panda           12
penguin         17
rabbit          28
rhinoceros      22
shark           14
squirrel        29
tiger            5
whale           15
wolf            26
zebra            9
dtype: int64

In [74]:
# Encontrar la posición de la primera ocurrencia de cada animal
ultima_posicion = etiquetas_originales.groupby(etiquetas_originales).apply(lambda x: x.index[-1])
ultima_posicion

alligator       20
bat             30
bear             6
bird             2
cat              0
cheetah         23
crocodile       19
dog              1
dolphin         16
eagle           33
elephant         7
fish             3
fox             27
giraffe          8
hawk            32
hippopotamus    21
jaguar          25
kangaroo        10
koala           11
leopard         24
lion             4
monkey          13
ostrich         18
owl             31
panda           12
penguin         17
rabbit          28
rhinoceros      22
shark           14
squirrel        29
tiger            5
whale           15
wolf            26
zebra            9
dtype: int64

7- Generar un resumen estadístico de las frecuencias de los animales (media, mediana, desviación estándar).

In [73]:
# Calcular la media (promedio)
media = etiquetas_originales.value_counts().mean()
# Calcular la mediana
mediana = etiquetas_originales.value_counts().median()
# Calcular la desviación estándar
desviacion_estandar = etiquetas_originales.value_counts().std()

print(f"Media: {media:.2f}")
print(f"Mediana: {mediana:.2f}")
print(f"Desviación Estándar: {desviacion_estandar:.2f}")

Media: 1.76
Mediana: 1.00
Desviación Estándar: 0.96

8- Filtrar y mostrar solo los animales con una frecuencia mayor que 2.

In [75]:
# Filtrar los animales con frecuencia mayor que 2
animales_filtrados = frecuencia_etiquetas[frecuencia_etiquetas > 2]
print(animales_filtrados)

cat         3
dog         3
bird        3
fish        3
lion        3
tiger       3
elephant    3
giraffe     3
zebra       3
kangaroo    3
panda       3
koala       3
Name: count, dtype: int64

9- Encontrar y mostrar las etiquetas de animales que aparecen solo una vez.

In [76]:
# Filtrar las etiquetas únicas (aparecen solo una vez)
etiquetas_unicas = frecuencia_etiquetas[frecuencia_etiquetas == 1]

# Mostrar las etiquetas únicas
print(etiquetas_unicas)

shark           1
whale           1
dolphin         1
penguin         1
ostrich         1
crocodile       1
alligator       1
hippopotamus    1
rhinoceros      1
cheetah         1
leopard         1
jaguar          1
wolf            1
fox             1
rabbit          1
squirrel        1
bat             1
owl             1
hawk            1
eagle           1
Name: count, dtype: int64

10- Calcular el porcentaje de apariciones de cada animal respecto al total.

In [78]:
# Calcular el total de apariciones
total_apariciones = frecuencia_etiquetas.sum()

# Calcular el porcentaje para cada animal
porcentajes = (frecuencia_etiquetas / total_apariciones) * 100

# Mostrar los porcentajes
print(porcentajes.round(2))

cat             5.00
dog             5.00
bird            5.00
fish            5.00
lion            5.00
tiger           5.00
elephant        5.00
giraffe         5.00
zebra           5.00
kangaroo        5.00
panda           5.00
koala           5.00
bear            3.33
monkey          3.33
shark           1.67
whale           1.67
dolphin         1.67
penguin         1.67
ostrich         1.67
crocodile       1.67
alligator       1.67
hippopotamus    1.67
rhinoceros      1.67
cheetah         1.67
leopard         1.67
jaguar          1.67
wolf            1.67
fox             1.67
rabbit          1.67
squirrel        1.67
bat             1.67
owl             1.67
hawk            1.67
eagle           1.67
Name: count, dtype: float64

11- Ordenar las etiquetas de animales por frecuencia en orden descendente.

In [80]:
# Ordenar en orden descendente
frecuencias_ordenadas = frecuencia_etiquetas.sort_values(ascending=False)

print(frecuencias_ordenadas)

cat             3
dog             3
bird            3
fish            3
lion            3
tiger           3
elephant        3
giraffe         3
zebra           3
kangaroo        3
panda           3
koala           3
bear            2
monkey          2
shark           1
whale           1
dolphin         1
penguin         1
ostrich         1
crocodile       1
alligator       1
hippopotamus    1
rhinoceros      1
cheetah         1
leopard         1
jaguar          1
wolf            1
fox             1
rabbit          1
squirrel        1
bat             1
owl             1
hawk            1
eagle           1
Name: count, dtype: int64

In [85]:
# Crear un DataFrame con las etiquetas originales
df = pd.DataFrame({'Etiqueta': etiquetas_originales})

# Calcular la frecuencia de cada etiqueta
frecuencia_etiquetas = df['Etiqueta'].value_counts()

# Calcular la frecuencia acumulativa
frecuencia_acumulativa = frecuencia_etiquetas.cumsum()

# Crear un nuevo DataFrame con las frecuencias acumulativas
df_frecuencia_acumulativa = pd.DataFrame({'Etiqueta': frecuencia_acumulativa.index, 'Frecuencia Acumulativa': frecuencia_acumulativa.values})

# Mostrar el DataFrame resultante
df_frecuencia_acumulativa

        Etiqueta  Frecuencia Acumulativa
0            cat                       3
1            dog                       6
2           bird                       9
3           fish                      12
4           lion                      15
5          tiger                      18
6       elephant                      21
7        giraffe                      24
8          zebra                      27
9       kangaroo                      30
10         panda                      33
11         koala                      36
12          bear                      38
13        monkey                      40
14         shark                      41
15         whale                      42
16       dolphin                      43
17       penguin                      44
18       ostrich                      45
19     crocodile                      46
20     alligator                      47
21  hippopotamus                      48
22    rhinoceros                      49
23       cheetah                      50
24       leopard                      51
25        jaguar                      52
26          wolf                      53
27           fox                      54
28        rabbit                      55
29      squirrel                      56
30           bat                      57
31           owl                      58
32          hawk                      59
33         eagle                      60