In [1]:
import pandas as pd

Partiendo d ela DataFrames de abajo, se responde las 'preguntas siguientes'

In [4]:
clientes = pd.DataFrame({
    'ClienteID': [1, 2, 3, 4, 5, 6],
    'Nombre': ['Ana', 'Luis', 'Maria', 'Carlos', 'Laura', 'Jorge'],
    'Edad': [34, 45, 23, 54, 31, 40],
    'Ciudad': ['Madrid', 'Barcelona', 'Madrid', 'Sevilla', 'Valencia', 'Bilbao'],
    'Email': ['ana@example.com', 'luis@example.com', 'maria@example.com', 'carlos@example.com', 'laura@example.com', 'jorge@example.com'],
    'FechaRegistro': ['2020-01-01', '2020-06-15', '2021-03-20', '2021-07-30', '2022-02-17', '2022-05-25']
})

print("DataFrame de Clientes:")
clientes

DataFrame de Clientes:

   ClienteID  Nombre  Edad     Ciudad               Email FechaRegistro
0          1     Ana    34     Madrid     ana@example.com    2020-01-01
1          2    Luis    45  Barcelona    luis@example.com    2020-06-15
2          3   Maria    23     Madrid   maria@example.com    2021-03-20
3          4  Carlos    54    Sevilla  carlos@example.com    2021-07-30
4          5   Laura    31   Valencia   laura@example.com    2022-02-17
5          6   Jorge    40     Bilbao   jorge@example.com    2022-05-25

DataFrame 2:Información de contratos

In [16]:
contratos = pd.DataFrame({
    'ContratoID': [101,102,103,104,105,106,107],
    'ClienteID' : [1, 2, 2, 3, 5, 6, 7],
    'Tipo': ['Móvil', 'Internet', 'Televisión', 'Móvil', 'Internet', 'Televisión', 'Móvil'],
    'FechaInicio' : ['2021-01-15','2021-06-23','2021-03-10','2021-08-05','2021-12-12','2021-07-19','2022-01-10'],
    'DuracionMeses':[24, 12, 12, 24, 12, 24,12],
    'CostoMensual' : [20, 40, 50, 25, 45, 55,30]
})
print("dataFrame de Contratos: ")
contratos

dataFrame de Contratos:

   ContratoID  ClienteID        Tipo FechaInicio  DuracionMeses  CostoMensual
0         101          1       Móvil  2021-01-15             24            20
1         102          2    Internet  2021-06-23             12            40
2         103          2  Televisión  2021-03-10             12            50
3         104          3       Móvil  2021-08-05             24            25
4         105          5    Internet  2021-12-12             12            45
5         106          6  Televisión  2021-07-19             24            55
6         107          7       Móvil  2022-01-10             12            30

Preguntas

1-(Inner Join)¿Cuáles son los detalles de contacto de los clientes que tienen contratos activos?

In [17]:
clientes_con_contratos = pd.merge(clientes,contratos, on='ClienteID', how='inner')
print("Detalles de contrato de clientes con contratos activos: ")
clientes_con_contratos[['Nombre','Email', 'Tipo', 'FechaInicio']]

Detalles de contrato de clientes con contratos activos:

  Nombre              Email        Tipo FechaInicio
0    Ana    ana@example.com       Móvil  2021-01-15
1   Luis   luis@example.com    Internet  2021-06-23
2   Luis   luis@example.com  Televisión  2021-03-10
3  Maria  maria@example.com       Móvil  2021-08-05
4  Laura  laura@example.com    Internet  2021-12-12
5  Jorge  jorge@example.com  Televisión  2021-07-19

2- ¿Qué clientes se registraron antes de obtener un contrato?

In [18]:
clientes_con_contratos = pd.merge(clientes, contratos, on='ClienteID', how ='inner')
clientes_antes_contrato = clientes_con_contratos[clientes_con_contratos['FechaRegistro']< clientes_con_contratos['FechaInicio']]
print("Clientes que se registraron antes de obtener un contrato")
print("###################################################################################")
clientes_antes_contrato[['Nombre','FechaRegistro','FechaInicio']]

Clientes que se registraron antes de obtener un contrato
###################################################################################

  Nombre FechaRegistro FechaInicio
0    Ana    2020-01-01  2021-01-15
1   Luis    2020-06-15  2021-06-23
2   Luis    2020-06-15  2021-03-10
3  Maria    2021-03-20  2021-08-05

3- ¿Qué clientes no tienen ningún contrato asociado y cuáles son sus detalles de contacto?

In [20]:
clientes_sin_contratos = pd.merge(clientes, contratos, on = 'ClienteID', how='left', indicator = True )
clientes_sin_contratos = clientes_sin_contratos[clientes_sin_contratos['_merge'] == 'left_only']
#filtrar el resultado de la unión para conservar
#solo las filas donde el valor en la columna _merge
#es left_only

print("Clientes sin contratos asociados:")
print("###################################################################") 
clientes_sin_contratos [['Nombre', 'Email', 'Ciudad']]

Clientes sin contratos asociados:
###################################################################

   Nombre               Email   Ciudad
4  Carlos  carlos@example.com  Sevilla

La línea:

clientes_sin_contratos = clientes_sin_contratos[clientes_sin_contratos['_merge'] == 'left_only']
Significa que se seleccionan únicamente las filas que están presentes en el DataFrame de clientes pero no tienen correspondencia en el DataFrame de contratos.

El parámetro indicator=True agrega una columna extra llamada _merge al resultado de la unión. Esta columna indica el origen de cada fila en el resultado de la unión:

left_only si la fila solo está presente en el DataFrame de la izquierda.
right_only si la fila solo está presente en el DataFrame de la derecha.
both si la fila está presente en ambos DataFrames.

4-¿Qué contratos no tienen un cliente asociado en la base de datos de clientes y cuáles son los detalles del contrato?

In [23]:
contratos_sin_clientes = pd.merge(clientes,contratos, on='ClienteID', how = 'right', indicator=True)

contratos_sin_clientes = contratos_sin_clientes[contratos_sin_clientes['_merge']== 'right_only'] 
# filtra el resultado de la unión para conservar
# Solo las filas donde el valor en la columna _merge
# es right_only

print("Contratos sin clientes asociados")
print('###################################################')
contratos_sin_clientes[['ContratoID','Tipo','FechaInicio','CostoMensual']]

Contratos sin clientes asociados
###################################################

   ContratoID   Tipo FechaInicio  CostoMensual
6         107  Móvil  2022-01-10            30

La linea:

contratos_sin_clientes = contratos_sin_clientes[contratos_sin_clientes['_merge'] == 'right_only']
Esto significa que se seleccionan únicamente las filas que están presentes en el DataFrame de contratos pero no tienen correspondencia en el DataFrame de clientes.

5-Obtener una lista completa de todos los clientes y todos los contratos, independientemente de si tienen coincidencias en las otras tablas.

In [31]:
todos_clientes_contratos = pd.merge(clientes,contratos, on='ClienteID', how='outer', indicator=True)
print("Todos los clientes y contratos")
print('##########################################################')
print(todos_clientes_contratos)

Todos los clientes y contratos
##########################################################
   ClienteID  Nombre  Edad     Ciudad               Email FechaRegistro  \
0          1     Ana  34.0     Madrid     ana@example.com    2020-01-01
1          2    Luis  45.0  Barcelona    luis@example.com    2020-06-15
2          2    Luis  45.0  Barcelona    luis@example.com    2020-06-15
3          3   Maria  23.0     Madrid   maria@example.com    2021-03-20
4          4  Carlos  54.0    Sevilla  carlos@example.com    2021-07-30
5          5   Laura  31.0   Valencia   laura@example.com    2022-02-17
6          6   Jorge  40.0     Bilbao   jorge@example.com    2022-05-25
7          7     NaN   NaN        NaN                 NaN           NaN

   ContratoID        Tipo FechaInicio  DuracionMeses  CostoMensual      _merge
0       101.0       Móvil  2021-01-15           24.0          20.0        both
1       102.0    Internet  2021-06-23           12.0          40.0        both
2       103.0  Televisión  2021-03-10           12.0          50.0        both
3       104.0       Móvil  2021-08-05           24.0          25.0        both
4         NaN         NaN         NaN            NaN           NaN   left_only
5       105.0    Internet  2021-12-12           12.0          45.0        both
6       106.0  Televisión  2021-07-19           24.0          55.0        both
7       107.0       Móvil  2022-01-10           12.0          30.0  right_only

 contrato_sin_clientes =

**6- Cuáles son los clientes con contratos de más de 12 meses y cuáles son los detalles del contrato?**

In [30]:
clientes_con_contratos_largos = pd.merge(clientes, contratos, on='ClienteID', how='inner')
clientes_con_contratos_largos = clientes_con_contratos_largos[clientes_con_contratos_largos['DuracionMeses'] > 12]
print("Clientes con contratos de mas de 12 meses: ")
clientes_con_contratos_largos

Clientes con contratos de mas de 12 meses:

,ClienteID,Nombre,Edad,Ciudad,Email,FechaRegistro,ContratoID,Tipo,FechaInicio,DuracionMeses,CostoMensual
0,1,Ana,34,Madrid,ana@example.com,2020-01-01,101,Móvil,2021-01-15,24,20
3,3,Maria,23,Madrid,maria@example.com,2021-03-20,104,Móvil,2021-08-05,24,25
5,6,Jorge,40,Bilbao,jorge@example.com,2022-05-25,106,Televisión,2021-07-19,24,55

7-¿Qué clientes tienen contratos de un costo mensual superior a 40?

In [32]:
clientes_con_contratos_caros = pd.merge(clientes,contratos, on='ClienteID', how='inner')
clientes_con_contratos_caros = clientes_con_contratos_caros[clientes_con_contratos_caros['CostoMensual'] > 40 ]
print("Clientes con contratos de un costo mensual superior a 40: ")
clientes_con_contratos_caros[['Nombre', 'Tipo','CostoMensual']]

Clientes con contratos de un costo mensual superior a 40:

  Nombre        Tipo  CostoMensual
2   Luis  Televisión            50
4  Laura    Internet            45
5  Jorge  Televisión            55

Observa la siguiente tabla para una referencia de argumentos en pandas.merge. La siguiente seccion cubre la unión (join) usando el indice de filas de DataFrame

left : DataFrame a fusionar en el lado izquierdo.

right : DataFrame que se fusionará en el lado derecho.

how: Tipo de join a aplicar: "inner", "outer", "left", o "right"; por defecto es "inner".

on: Nombres de las columnas a unir (join). Deben encontrarse en ambos objetos DataFrame. Si no se especifica y no se dan otras claves de unión (join), se utilizará la intersección de los nombres de columna de la izquierda y la derecha como claves de join.

left_on: Columnas del DataFrame izquierdo (left) que se utilizarán como claves de unión (join). Puede ser un único nombre de columna o una lista de nombres de columna.

right_on: Análogo a left_on para DataFrame derecho(right).

left_index: Utiliza el índice de la fila de la izquierda como clave de unión(join) (o claves, si es un MultiIndex).

right_index: Análogo a left_index

sort: Ordena los datos fusionados lexicográficamente por las claves de unión (join); Falso por defecto.

suffixes: Tuple de valores de cadena para añadir a los nombres de columna en caso de solapamiento; por defecto ("_x", "_y") (por ejemplo, si "data" está en ambos objetos DataFrame, aparecerá como "data_x" y "data_y" en el resultado).

copy: Si es False, evita copiar datos en la estructura de datos resultante en algunos casos excepcionales; por defecto siempre copia.

validate: Verifica si la fusión (merge) es del tipo especificado, ya sea uno a uno, uno a muchos o muchos a muchos. Consulte el docstring para obtener más información sobre las opciones.

indicator: Añade una columna especial _merge que indica el origen de cada fila; los valores serán "left_only", "right_only" o "both" en función del origen de los datos unidos (joined) en cada fila.

Mergin en indice (Index)

En algunos casos. la(s) clave(s) de fusión(merging) de un DataFrame se encuentran(n) en su índice (eqtiquetas de filas), En este caso, puede pasar  left_index=True o right_index=True (o ambos) para indicar que el índice debe utilizarse como clave fusión:

In [33]:
left1 = pd.DataFrame({"key": ["a","b","a","a","b","c"],
                      "value":pd.Series(range(6), dtype="Int64")})
left1

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5

In [34]:
right1 = pd.DataFrame({"group_val": [3.5, 7]}, index=["a","b"])
right1

   group_val
a        3.5
b        7.0

In [35]:
pd.merge(left1,right1, left_on="key", right_index=True)

  key  value  group_val
0   a      0        3.5
1   b      1        7.0
2   a      2        3.5
3   a      3        3.5
4   b      4        7.0

left_on="key" significa que vamos a usar la columna key del DataFrame left1 como la clave para la unión.
right_index=True significa que vamos a usar el índice del DataFrame right1 como la clave para la unión.

Ejemplo 3.3

Supongamos que tenemos dos DataFrame: uno con información de ventas de dispositivos y otro con detalles de los dispositivos.

In [40]:
# DataFrame ventas
ventas = pd.DataFrame({
    'VentasID':[1,2,3,4,5],
    'DispositivoID': [101,102,101,103,102],
    'Cantidad':[10,5,8,7,6]
})

# Dataframe dispositivos
dispositivos = pd.DataFrame({
    'NombreDispositivo': ['iPhone 13', 'Samsung Galaxy S21', 'Google Pixel 6'],
    'Precio': [799, 999, 599]
}, index=[101, 102, 103])

print("DataFrame de Ventas:")
ventas

DataFrame de Ventas:

   VentasID  DispositivoID  Cantidad
0         1            101        10
1         2            102         5
2         3            101         8
3         4            103         7
4         5            102         6

In [41]:
print("\nDataFrame de Dispositivos:")
dispositivos

DataFrame de Dispositivos:

      NombreDispositivo  Precio
101           iPhone 13     799
102  Samsung Galaxy S21     999
103      Google Pixel 6     599

Ahora realizamos el merge "utilizandola columna DispositivoID del DataFrame izquierdo(ventas) como clave para la unión". Además se usara el índice del DataFrame derecho(dispositivos) como clave para la unión.